<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
<div class="layout">

    <form action="/request-regist" method="post" > <!-- 데이터 보내기, post 방식으로-->
        <input name="user_id" type ="text">아이디</input>
        <input name="user_password" type ="password">패스워드</input>
        <input name="user_name" type ="text">이름</input>
        <input name="user_age" type ="number">나이</input>
        <button type="submit">작성</button>
    </form>

</div>
</body>
</html>